<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.kalaignar.yt-ingest</string>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/yt_sdi_ingest.sh</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/var/log/yt-sdi-streamer/ingest_launchd.out</string>

    <key>StandardErrorPath</key>
    <string>/var/log/yt-sdi-streamer/ingest_launchd.err</string>

    <key>ExitTimeOut</key>
    <integer>20</integer>

    <key>ProcessType</key>
    <string>Background</string>
  </dict>
</plist>
